---
# clang-format configuration for ILF project
BasedOnStyle: GNU
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100

# Brace wrapping
BreakBeforeBraces: Linux
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false

# Indentation
IndentCaseLabels: true
IndentPPDirectives: AfterHash

# Spacing
SpaceAfterCStyleCast: true
SpaceBeforeParens: ControlStatements
SpaceBeforeAssignmentOperators: true
SpacesInParentheses: false
SpacesInSquareBrackets: false

# Alignment
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignEscapedNewlines: Left
AlignOperands: true
AlignTrailingComments: true

# Line breaking
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
BinPackArguments: true
BinPackParameters: true

# Pointer and reference alignment
PointerAlignment: Right
DerivePointerAlignment: false

# Include sorting
SortIncludes: true
IncludeBlocks: Preserve

# Other
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
ReflowComments: true
